
*.db
*.opendb
*.obj
*.ipch
*.ilk
*.log
*.pdb
*.idb
*.sbr
*.map
*.bsc
*.tlog
*.res
*.user
.vs/Ray3d/v15/.suo
Debug/Ray3d.exe
Debug/soft3d.exe
.vs/Ray3d/v16/.suo
Debug/soft3d.vcxproj.FileListAbsolute.txt
Release/soft3d.vcxproj.FileListAbsolute.txt
*.db-shm
*.db-wal
*.recipe
